<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.onchat_android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnChatandroid"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ResturantAdapter"
            android:exported="false" />
        <activity
            android:name=".ShoppingBag"
            android:exported="false" />
        <activity
            android:name=".LocationsPage"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />

        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".HelpPage"
            android:exported="false" />
        <activity
            android:name=".RestaurantPage"
            android:exported="false" />
        <activity
            android:name=".HotelFacilitiesPage"
            android:exported="false" />
        <activity
            android:name=".DiningRoomPage"
            android:exported="false" />
        <activity
            android:name=".FacilitiesAdapter"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".MenuPage"
            android:exported="false" />
        <activity
            android:name=".ContactInfoPage"
            android:exported="false" />
        <activity
            android:name=".WifiPage"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />

        <service
            android:name=".MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".addContact"
            android:exported="false" />
        <activity
            android:name=".chatScreen"
            android:exported="false" />
        <activity
            android:name=".ContactPage"
            android:exported="false" />
        <activity
            android:name=".SignUpPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>